<!DOCTYPE html>

<html>
  <head>
    <title>Welcome to GifHub</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrap.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  
  <body id="index">
    <h1> Welcome to GifHub! </h1>
    <a id="index_tag" href="/new_gif"> Upload a New GIF </a> <br>
   
  </body>
  
</html>