 <!DOCTYPE html>
<html>
  
  <head>
     <link rel="stylesheet" href="./css/style.css">
    <title> New Gif </title>
  </head>
  
  <body id="new_gif">
    <form action="/new_gif" method="post">
    <h1> Enter your Username! </h1>
     <input id="username" type="text" name="username" placeholder="Username">
 
    <h1> Paste a URL for a GIF! </h1>
     <input id="gifput" type="text" name="url" placeholder="GIF URL">
     <br><br> <input type="submit" value="Post!"><br><br><br><br><br>
      <a href="/"> Go to Homepage </a> <br>
      
 <style type="text/css">
      
    </form>
  </body>
  
</html>